# These also apply to all subdirectories.
*.o
cpusupport-config.h
# Other directories.
tests/buildall/buildall
tests/buildsingles/*-main
tests/buildsingles/Makefile.inc2
tests/crc32/test_crc32
tests/getopt/test_getopt
tests/getopt/test_getopt.log
tests/heap/test_heap
tests/humansize/test_humansize
tests/monoclock/test_monoclock
tests/sha256/test_sha256
tests/parsenum/test_parsenum
tests/valgrind/potential-memleaks
tests-output/
tests-valgrind/
