# These also apply to all subdirectories.
*.o
# Development tools
/devel-tools/
# Build system configuration
/apisupport-config.h
/cflags-filter.sh
/cpusupport-config.h
/posix-flags.sh
# Compiled libraries and test binaries.
/liball/liball.a
/liball/optional_mutex_normal/liball_optional_mutex_normal.a
/liball/optional_mutex_pthread/liball_optional_mutex_pthread.a
/perftests/http/test_http
/perftests/https/test_https
/perftests/network-ssl/test_network_ssl
/tests/aws/test_aws
/tests/buildall/buildall
/tests/buildsingles/*-main
/tests/buildsingles/Makefile.tmp
/tests/buildsingles/test_buildsingles
/tests/crc32/test_crc32
/tests/crypto_aes/test_crypto_aes
/tests/crypto_aesctr/test_crypto_aesctr
/tests/crypto_entropy/test_crypto_entropy
/tests/daemonize/test_daemonize
/tests/elasticarray/test_elasticarray
/tests/events/test_events
/tests/fork_func/test_fork_func
/tests/getopt-longjmp/test_getopt_longjmp
/tests/getopt/test_getopt
/tests/heap/test_heap
/tests/humansize/test_humansize
/tests/ipc_sync/test_ipc_sync
/tests/json/test_json
/tests/md5/test_md5
/tests/monoclock/test_monoclock
/tests/mpool/test_mpool
/tests/optional_mutex/normal/test_optional_mutex_normal
/tests/optional_mutex/pthread/test_optional_mutex_pthread
/tests/parsenum/test_parsenum
/tests/readpass_file/test_readpass_file
/tests/setuidgid/test_setuidgid
/tests/sha1/test_sha1
/tests/sha256/test_sha256
/tests/sock_util/test_sock_util
/tests/sysendian/test_sysendian
/tests/valgrind/potential-memleaks
/tests/warnp/test_warnp
# Test output directories and generated files.
/perftests/https/test_https.log
/perftests/network-ssl/test_network_ssl_stderr.log
/tests-output/
/tests-valgrind/
/tests/events/test-events.log
/tests/getopt/test_getopt.log
# Generated perftest output in any directories.
perftest-*.raw
perftest-*.txt
perftest-num.tmp
